[submodule "sources_non_forked/vim-puppet"]
	path = sources_non_forked/vim-puppet
	url = https://github.com/evidex/vim-puppet.git
[submodule "sources_non_forked/vim-markdown"]
	path = sources_non_forked/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
